
.error__main{
    display: flex;
    justify-content: center;
}
.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    .error__page{
        @include h2index ('Chau Philomene One', 70px, center, 5px, rgb(255, 63, 214), 100px, map-get($colores , "background-ultimos-ingresos" ) );
        margin-top: 150px;
        &:hover{
            background-image: linear-gradient(to right, rgba(255, 105, 180, 0.504), pink, rgba(244, 250, 137, 0.742), pink);
        }
        &__boton{
        font-size: 20px;
        padding: 15px;
        border-radius: 6%;
        margin: 7px;
        text-decoration: none;
        background-image: linear-gradient(to left, #f7bee5, rgb(249, 147, 215),#f7bee5);
        transition: 0.6s;
        background-size: 200%;
        width: 300px;
        text-align: center;
        margin-bottom: 150px;
        &:hover{
            background-position: right;
            box-shadow: 3px 1px 8px 1px rgba(171,119,171,0.95);
        }
        & a{
            text-decoration: none;
            color: white;
        }   
    }
    }
}