/* tipografias
font-family: 'Montserrat', sans-serif;
font-family: 'Chau Philomene One', sans-serif;*/
body{
    font-family: 'Montserrat', sans-serif;
    background-image: map-get($colores, "fondo-general");
}
li{
    list-style: none;
}