header{
    position: sticky;
    top: 0%;
    background-size: cover;
    background-position: center;
    z-index: 999;
}
.navbar{ 
    background-image: map-get($imagenes, "imagen-nezuko" );
    border: solid 2px pink;
    height: 195px;
    display: flex;
    background-position: top;

    &-nav li{
        margin-top: 130px;
        width: 150px;
        padding: 1px 10px ;
        /*background-color: map-get($colores, "navbar-li");*/ 
        background-image: linear-gradient(to left, #f7bee5, rgb(249, 147, 215),#f7bee5);
        transition: 0.6s;
        background-size: 200%;
        font-size: map-get($font-size, "navbar-li"); 
        text-align: center;
        margin-right: 15px;
        border-radius: 6px;
        &:hover{
            /*transition: 0.3s;
            box-shadow: inset 6px 6px 40px 6px map-get($colores , "navbar-li-hover" );
            color: rgb(255, 255, 255);*/
            background-position: right;
        }
        & a:hover{
            color: white !important;
        }
    }
}
.navbar-brand img{
    width: 18%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -14%;
    left: 40%;
    width: 14%;
}
.navbar-light .navbar-nav .nav-link{
    color: map-get($colores , "nav-li" )
}
.ingresa-registrate-carrito{
    display: flex;
}
.d-flex{
    height: 40px;
    width: 320px;
    margin-top: 13px;
    &:hover{
        transition: 0.3s;
        box-shadow: 3px 1px 8px 1px rgba(63, 42, 63, 0.475);
    }
}
.d-flex-barra{
    transition: 2s;
    width: 450px;
}
.d-flex button{
    background-color: white;
}
.d-flex button:hover{
    transition: 0.4s;
    background-color: rgb(249, 203, 236);
}
.ingresaRegistrate{
    display: flex;
    justify-content: space-around;
    padding-left: 0%;
}
.ingresaBoton{
    padding: 12px;
    border-radius: 6%;
    margin: 7px;
    text-decoration: none;
    background-image: linear-gradient(to left, #f7bee5, rgb(249, 147, 215),#f7bee5);
    transition: 0.6s;
    background-size: 200%;
    width: 120px;
    text-align: center;
    /*border: 1px solid rgb(222, 153, 187);
    padding: 8px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 100px;*/
}
.ingresaBoton:hover{
    background-position: right;
}
.ingresaBoton a{
    text-decoration: none;
    color: #c135a3;
}
.ingresaBoton a:hover{
    color: white;
}
/*.ingresaBoton:hover{
    transition: 0.3s;
    box-shadow: inset 6px 6px 40px 6px rgb(237, 152, 199);
    color: rgb(255, 255, 255);
}*/
.registrateBoton{
    padding: 12px;
    border-radius: 6%;
    margin: 7px;
    background-image: linear-gradient(to left, #f7bee5, rgb(249, 147, 215),#f7bee5);
    transition: 0.6s;
    background-size: 200%;
    width: 120px;
    text-align: center;
}
.registrateBoton:hover{
    /*transition: 0.3s;
    box-shadow: inset 6px 6px 40px 6px rgb(237, 152, 199);
    color: rgb(255, 255, 255); */   
    background-position: right;
}
.registrateBoton a{
    text-decoration: none;
    color: #c135a3;
}
.registrateBoton a:hover{
    color: white;
}
.carrito img{
    display: flex;
    width: 60px; 
}
.container-fluid{
    z-index: 998;
}
.ingresa-registrate-carrito{
    margin-top: 140px;
    margin-right: 15px;
}