/* tipografias
font-family: 'Montserrat', sans-serif;
font-family: 'Chau Philomene One', sans-serif;*/
/* Selector de etiqueta*/ 
body{
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to top right, rgb(223, 146, 197), rgb(246, 164, 229));
}
li{
    list-style: none;
}