.mb-3 {
    width: 330px;
  }
  .mb-form{
    @include margin (60px, 60px);
      @include flex3 (flex, column, center);
      background-color: rgb(250, 180, 228);
      width: 400px;
      padding: 40px;
      align-items: center;
      &:hover{
          transition: 0.3s;
          box-shadow: 3px 1px 8px 1px map-get($colores, "box-shadow");
      }
  }
.section__ingresa{
    display: flex;
    justify-content: center;
}
.stitch img{
    width: 170px;
    height: 200px;
}
.stitch__caja{
    display: flex;
    justify-content: center;
}

.hide{
    display: none;
}

.active{
    display: block;
}