/* MEDIA QUERY */
@media (max-width: 1240px){
    .ingresa-registrate-carrito{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .navbar-brand img{
        width: 19%;
        display: flex;
        margin-top: 10px;
        margin-left: 100px;
    }
    .list-group-item{
        width: 170px;
        font-size: 14px;
    }
    .list-group-section h4{
        font-size: 18px;
    }
    .boxCategoriasGrid h2{
        font-size: 36px;
        margin-top: 90px;
    }
}
@media (max-width: 1350px){
    .ingresa-registrate-carrito{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .geekworld__d__p{
        font-size: 14px;
    }
}
@media (max-width: 991px) {
    .navbar-toggler{
        background-color: rgb(237, 155, 214);
    }
    .navbar{
        display: flex;
        justify-content: center;
        position: relative;
    }
    .navbar-nav{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 20px;
    }
    .collapse navbar-collapse{
        width: 10%;
    }
    .ingresa-registrate-carrito{
        position: absolute;
    }
    .container-fluid{
        position: absolute;
        top: 30px;
    }
    .geekworld__d{
        width: 700px;
    }
    .nosotros__h1{
        font-size: 35px;
    }
    .seguinos{
        font-size: 28px;
    }
    .donde__estamos{
        font-size: 28px;
    }
    .contacto__h2{
        font-size: 28px;
    }
}
@media (max-width: 1226px) {
    .grid__container{
        display: grid;
        grid-template-columns: 280px 280px 280px;
    }
    .agregarCarrito2{
    width: 170px;
    }
    }
@media (max-width: 880px) {
    .grid__container{
        display: grid;
        grid-template-columns: 280px 280px;
    }
}
@media (max-width: 900px) {
    .mapaGrid{
    width: 230px;
    height: 230px;
    }
}
@media (max-width: 770px) {
    .boxFooter{
        display: flex;
        flex-direction: column;
    }
    .boxFooterGrid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .inputs{
        width: 260px;
    }
    .stitch img{
       width: 120px;
       height: 150px;
    }
    .box__quienes{
        height: 200px;
        width: 500px;
    }
    .box__quienes p{
        font-size: 15px;
    }
    .box__quienes h2{
        font-size: 25px;
    }
    .proximosIngresosGrid{
        font-size: 28px;
    }
    .list-group-section{
        display: flex;
        flex-wrap: wrap;
    }
    .h4series{
        margin-top: 30px;
    }
    .h4peliculas{
        margin-top: 30px;
    }
    .card{
        width: 230px;
        height: 300px;
    }
    .agregarCarrito2{
        width: 140px;
        height: 27px;
        padding: 5px;
    }
    .geekworld__d{
        height: 430px;
        width: 450px;
    }

}
@media (max-width: 1100px) {
    .boxCasillas{
        display: flex;
        justify-content: flex-start;
    }
    .inputregistrate{
    display: flex;
    justify-content: flex-start;
    }
    .olvidastepw{
        display: flex;
        justify-content: flex-start;
    }
    .h2IniciarSesion{
        font-size: 20px;
    }
    .navbar-brand img{
        display: none;
    }
    .card article{
       border: solid 5px rgb(255, 224, 247);
    }
    .list-group-section{
        margin-left: 100px;
    }
}
@media (max-width: 580px) {
    .grid__container{
        display: grid;
        grid-template-columns: 280px;
    }
    .boxCategorias2Grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 450px 230px 300px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    .ingresa-registrate-carrito{
        margin-right: 70px;
    }
    .box__quienes{
        height: 230px;
        width: 350px;
    }
    .box__quienes h2{
        font-size: 23px;
    }
    .box__quienes p{
        font-size: 14px;
    }
    .form-control me-2{
        width: 60px;
        height: 20px;
    }
    .ingresaRegistrate{
        display: flex;
        justify-content: flex-start;
    }

    .ingresaBoton {
        background-color: rgba(250, 128, 114, 0);
        width: 90px;
    }
    .ingresaBoton a{
        /*background-color: rgb(249, 203, 236);*/
    }
    .registrateBoton{
        background-color: rgba(250, 128, 114, 0);
        width: 100px;
    }
    .registrateBoton a{
        /*background-color: rgb(249, 203, 236);*/
        margin-left: 0px;
    }
    .carrito img{
        width: 40px;
        height: 45px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .d-flex input{
        width: 160px;
        height: 35px;
        font-size: 12px;
    }
    .d-flex button{
        width: 60px;
        font-size: 12px;
        height: 35px;
    }
    .d-flex{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 10px;
    }
    .navbar{
        display: flex;
        justify-content: flex-start;
    }
    .list-group-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .list-group-item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .list-group{
        align-items: center;
    }
    .list-group-section h4{
        margin-top: 30px;
    }
    .numero__horario__contacto{
        font-size: 17px;
    }
    .numero__horario__mail{
        font-size: 17px;
    }
    .numero__horario__cliente{
        font-size: 17px;
    }
    .geekworld__d{
        width: 400px;
        height: 350px;
    }
    .geekworld__d__p{
        font-size: 12px;
    }
}
@media (max-width: 360px) {
    .box__quienes{
        width: 270px;
        height: 280px;
    }
    .whatsapp{
        display: none;
    }
    .ingresaRegistrate{
        width: 50px;
    }
    .ingresa-registrate-carrito{
        width: 80px;
    }
    .d-flex{
        width: 80px;
    }
    .list-group-section{
        margin-left: 60px;
    }
}
@media (max-width: 425px) {
    .navbar{
        height: 130px;
        background-image: url(../imagenes/nezukofondo3.jpg);
    }
    .los__mas__vendidos h2 {
        font-size: 21px;
    }
    .ofertas__semana h2{
        font-size: 21px;
    }
    .ultimos__ingresos h2{
        font-size: 21px;
    }
    .ingresaBoton{
        width: 80px;
        height: 30px;
        font-size: 13px;
        padding: 4px;
    }
    .registrateBoton{
        width: 100px;
        height: 30px;
        font-size: 13px;
        padding: 4px;
    }
    .carrito img{
        height: 35px;
        width: 35px;
    }
    .d-flex input{
        height: 30px;
    }
    .d-flex button{
        height: 30px;
    }
    .grid__container article{
        height: 200px;
        width: 180px;
    }
    .grid__container img{
        height: 110px;
        width: 110px;
    }
    .grid__container p{
        font-size: 12px;
    }
    .agregarCarrito{
        width: 150px;
        font-size: 11px;
    }
    .grid__container{
        display: grid;
        grid-template-columns: 180px 180px;
        grid-template-rows: 200px 200px;
        margin: 0px 0px 0px;
        justify-content: center;
        margin-bottom: 20px;
    }
    .ultimos__ingresos h2{
        margin-top: 50px;
    }
    .horarios{
        font-size: 13px;
        padding: 0px;
    }
    .contactanos h4{
        font-size: 13px;
        padding: 0px;
    }
    .showroom h4{
        font-size: 13px;
        padding: 0px;
    }
    .metodosdepago h4{
        font-size: 13px;
        padding: 0px;
    }
    .boxHorarios ul li{
        font-size: 12px;
    }
    .contactanos li{
        font-size: 12px;
    }
    .showroom li{
        font-size: 12px;
    }
    .metodosdepago li{
        font-size: 12px;
    }
    .card{
        width: 180px;
        height: 260px;
    }
    .agregarCarrito2{
        width: 110px;
        padding: 5px;
        font-size: 12px;
    }
    .proximosIngresosGrid{
        font-size: 20px;
    }
    .navbar-toggler{
        width: 0px;
    }
    .numero__horario__contacto{
        font-size: 15px;
    }
    .numero__horario__mail{
        font-size: 15px;
    }
    .numero__horario__cliente{
        font-size: 15px;
    }
    .geekworld__d{
        width: 300px;
        height: 400px;
        margin-top: 30px;
    }
    .geekworld__d__p{
        font-size: 12px;
    }
    .contacto__h2{
        font-size: 20px;
    }
    .donde__estamos{
        font-size: 20px;
    }
    .seguinos{
        font-size: 20px; 
    }
    .nosotros__h1{
        font-size: 26px;
        margin-top: 40px;
    }
    .numero__horario__cliente{
        font-size: 11px;
    }
    .mb-form{
        width: 300px;
    }
    .form-control{
        width: 60%;
    }
    .mb-3{
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .form-text{
        font-size: 12px;
    }
 }
    @media (max-width: 375px) {
        .grid__container article{
            height: 190px;
            width: 160px;
        }
        .grid__container img{
            height: 100px;
            width: 100px;
        }
        .grid__container p{
            font-size: 12px;
        }
        .agregarCarrito{
            width: 130px;
            font-size: 11px;
        }
        .grid__container{
            display: grid;
            grid-template-columns: 150px 150px;
            grid-template-rows: 180px 180px;
            margin: 0px 0px 0px;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    @media (max-width: 340px) {
        .grid__container article{
            height: 175px;
            width: 140px;
        }
        .grid__container img{
            height: 85px;
            width: 85px;
        }
        .grid__container p{
            font-size: 10px;
        }
        .agregarCarrito{
            width: 100px;
        }
        .ingresos__vendidos__ofertas h4{
            padding: 7px;
        }
        .grid__container{
            display: grid;
            grid-template-columns: 130px 130px;
            grid-template-rows: 170px 170px;
            margin: 0px 0px 0px;
            justify-content: center;
            margin-bottom: 20px;
        }
        .box__quienes{
            width: 290px;
            height: 230px;
        }
    }
@media (max-width: 990px) {
    .navbar-nav li{
        margin-top: 0px;
    }
    .navbar-toggler-icon{
        width: 20px;
    }
    .navbar-toggler{
        width: 60px;
    }
    .box__quienes h2{
        margin-bottom: 20px;
    }
    .box__quienes p{
        margin-bottom: 50px;
    }
    .box__quienes{
        height: 340px;
    }
}


/* FOOTER*/
@media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

  
  @media(max-width: 370px){
    .ultimos__ingresos__figuras article{
        height: 250px;
        width: 200px;
    }
    .ultimos__ingresos__figuras article img{
        height: 150px;
        width: 150px;
        margin-top: 20px;
    }
    .agregarCarrito{
        margin-bottom: 18px;
        font-size: 11px;
    }
    .ofertas__semana__figuras article{
        height: 250px;
        width: 200px;
        margin-bottom: 0px;
    }
    .ofertas__semana__figuras article img{
        height: 150px;
        width: 150px;
    }
    .descuento{
        font-size: 12px;
    }
  }
  