.proximosIngresosGrid{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 35px;
    text-align: center;
    cursor: default;
    letter-spacing: 5px;
    color:  map-get($colores , "color-titulos");
    @include margin (100px, 80px);
    background-color: map-get($colores , "background-quienes-somos" );
    &:hover{
        background-image: linear-gradient(to right, rgba(255, 105, 180, 0.504), pink, rgba(244, 250, 137, 0.742), pink);
    }
}
.agregarCarrito2{
    background-color: map-get($colores, "agregar-carrito");
    width: 250px;
    height: 40px;
    font-size: 16px;
    color: map-get($colores, "letra-agregar-carrito");
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
        &:hover{
        transition: 0.3s;
        background-color: map-get($colores, "fondo-agregar-carrito-hover");
        color: map-get($colores, "letra-agregar-carrito-hover");
        border: none;
        }
}
.card{
    width: 280px;
    background-color: rgb(255, 224, 247);
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
        &:hover{
        transition: 0.3s;
        box-shadow: 3px 1px 8px 1px map-get($colores, "box-shadow");
        }
        &-body h5{
        font-size: 14px;
        }
        &-body a{
            text-decoration: none;
        }
}
.col{
    display: flex;
    justify-content: center;
}
.row{
    width: 100%;
}