.proximosIngresosGrid{
    font-family: 'Chau Philomene One', sans-serif;
    font-size: 35px;
    text-align: center;
    cursor: pointer;
    letter-spacing: 5px;
    color: rgb(255, 63, 214);
    margin-top: 100px;
    background-color: rgba(247, 190, 229, 0.563);
    margin-bottom: 80px;
    &:hover{
        background-image: linear-gradient(to right, rgba(255, 105, 180, 0.504), pink, rgba(244, 250, 137, 0.742), pink);
    }
}
.agregarCarrito2{
    background-color: rgb(253, 245, 95);
    width: 250px;
    height: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 12px;
    border-radius: 8px;
        &:hover{
        transition: 0.3s;
        background-color: rgb(137, 117, 4);
        color: rgb(255, 255, 255);
        border: none;
        }
}
/*BOOTSTRAP*/
.card{
    width: 280px;
    background-color: rgb(255, 224, 247);
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
        &:hover{
        transition: 0.3s;
        box-shadow: 3px 1px 8px 1px rgba(171,119,171,0.95);
        }
        &-body h5{
        font-size: 14px;
        }
}
.col{
    display: flex;
    justify-content: center;
}
.row{
    width: 100%;
}