@import "./base/variables";
@import "./base/extends";
@import "./base/mixin";
@import "general";
@import "header";
@import "reset";
@import "galeria";
@import "footer";
@import "preventa";
@import "catalogo";
@import "nosotros";
@import "ingresa";
@import "404";
@import "mediaquery";
