$imagenes: (
    "imagen-nezuko": url(../imagenes/nezukofondo2.jpg)
);
$colores: (
    "navbar-li": rgb(249, 203, 236),
    "nav-li": rgb(255, 0, 204),
    "navbar-li-hover": rgb(237, 152, 199),
    "background-body": rgb(246, 164, 229),
    "background-quienes-somos":rgb(247, 190, 229),
    "parrafo-quienes-somos": black,
    "footer-letra": rgb(255, 245, 55),
    "background-footer": rgb(168, 107, 156),
    "quienes-somos-letra": rgb(255, 63, 214),
    "background-ultimos-ingresos": rgba(247, 190, 229, 0.563),
    "footer-h4": rgb(255, 245, 55)
);
$font-size: (
    "navbar-li": 17px,
    "footer-h4": 17px
);
$reset: (
    "margin": 0px,
    "padding": 0px
);